{% extends 'layout.njk' %}
{% block content%}
    <div class='title'>
        {{name}}
    </div>
    <div class="chat-content">
        {%for item in contents%}
        <div class='talking'>
            <div class="left">
                <img src='{{item.avatar}}' alt="" >
                <span class="name">{{item.nickName}}</span>
            </div>
            <span class="content">{{item.content}}</span>
            <div class="time">
                {{item.createdBy | formatTime}}
            </div>    
        </div>
        {%endfor%}
    </div>
    <div class='warning'>
    </div>
    <footer class="footer">
        <i class="fa fa-smile-o  fa-2x"  aria-hidden="true"></i>
        <input type="text" class="chat-input" placeholder="请输入...">
    </footer>
{% endblock %}
{% block style%}
<link rel='stylesheet', href='/css/chat.css'>
{% endblock %}
{% block script%}
<script src="./js/chat.js"></script>
{% endblock %}