.container{
    width: 55%;
    height: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow:  1px 1px 3px rgba(0, 0, 0, 0.3);
}
.title{
    margin-top: 115px;
    text-align: center;
    font-size: 32px;
    color: rgba(0, 0, 0, 0.3);
}
.content{
    margin-top: 60px;
    text-align: center;
}
.login-input{
    display: block;
    margin: 0 auto;
    width: calc(50% - 50px);
    height: 50px;
    border-radius: 25px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 0 25px;
    outline: none;
    color: rgba(0, 0, 0, 0.3);
}
input::-webkit-input-placeholder{
    color:rgba(0, 0, 0, 0.3);
}
input::-moz-placeholder{   /* Mozilla Firefox 19+ */
    color:rgba(0, 0, 0, 0.3);
}
input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
    color:rgba(0, 0, 0, 0.3);
}
input:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
    color:rgba(0, 0, 0, 0.3);
}
.login-button{
    display: block;
    margin:50px auto;
    width: 50%;
    height: 50px;
    border-radius: 25px;
    border: none;
    outline: none;
    font-size: 20px;
    color: white;
    background-color: #878ecd;
}